/* root {
 background-image: url(pink florence.jpeg);
 
} */
/* .home{
  background-image: url(pink.jpeg);
  /* width: 100%; */
  /* height: 200vh;  */

  :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
  
.body{
  background-image: url(/redit.png);
  /* overflow: auto;
  width: min-content; */


}
.y-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f40585;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hexagon {
  width: 200px;
  height: 200px;
  fill: none;
}

#hexagon path {
  stroke: #e7e0e0eb;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.content-loaded .section {
  display: block;
}
.content-container {
  display: none;
}




.navbar{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  font-family: inher,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
}

.container{
  margin-left: 5%;
  margin-right: 5%;
  
}

/* Navbar section */

.nav{
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
border: rounded;
  background-color: rgba(239, 13, 111, 0.986);;
}

.nav div.logo{
  width: 180px;
  height: 10px;
  position: absolute;
}

.nav div.logo a{
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
/*     text-transform: uppercase; */
}

.nav div.logo a:hover {
  color: #242223;
}

.nav div.main_list{
  width: 600px;
  height: 65px;
  float: right;
}

.nav div.main_list ul{
  width:100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li{
  width: 120px;
  height: 65px;
  
}

.nav div.main_list ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
  
  color: rgba(29, 26, 28, 0.986);
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span{
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */






/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  .container{
      margin: 0;
  }
  .personalstatment{
    margin: 20vw;
  }
  .home{
    background-image: url(/redit.png);
    
  }
}




@media screen and (max-width:768px) {
  .home{
    margin: 0;
    
  }
  .container{
      margin: 0;
  }
  
  .nav div.logo{
      margin-left: 15px;
  }
  
  .nav div.main_list{
      width: 100%;
      margin-top: 65px;
      height: 0px;
      overflow: hidden;
  }
  
  .nav div.show_list{
      height: 200px;
  }
  
  .nav div.main_list ul{
      flex-direction: column;
      width: 100%;
      height: 200px;
      top: 80px;
      right: 0;
      left: 0;
  }
  
  .nav div.main_list ul li{
      width: 100%;
      height: 40px;
      background-image: url(/redit.png);
  }
  
  .nav div.main_list ul li a{
    text-align: center;
      line-height: 40px;
      width: 100%;
      height: 40px;
      display: table;
  }
  
  .nav div.media_button{
      display: block;
  }

}

.font-firstname {
  
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  margin: 0;
 }
#animation {
  --animation-delay: 0.5s;
  --duration: 800ms;
  --iterations: 1;
}

.main-repo-button-container {
  position:fixed;
  /* position: relative; */
  font-size: 40px;
  user-select: none;
  animation-name: reveal-text;
  color: #ee067eda;
  padding-left: 20px;
  padding-top: 10%;
  /* cursor: default; */

  &:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: PINK;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
  }

  &,
  &:after {
    animation-delay: var(--animation-delay);
    animation-iteration-count: var(--iterations);
    animation-duration: var(--duration);
    animation-fill-mode: both;
    /* animation-timing-function: cubic-bezier(0, 0, 0.Z, 1); */
  }
 
}

@keyframes main-repo-button-container {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer-text {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}



#about{
  display:flex ;
  flex-direction: column;
  /* padding-top: 15%; */
  
  margin-left: 30vw;
  width:50%;
  text-shadow: 2px 2px 4px rgba(255, 252, 252, 0.806);
  font-family: 'Gill Sans', 'Gill Sans MT', 
  Calibri, 'Trebuchet MS', sans-serif;
}
.paragraph1{
  padding-bottom: 10px;
}

.bubbles {
  	/* background: blue; */
    color: rgb(248, 18, 156);
    font: Lato, Arial, Sans Serif, bold;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  #background-wrap {
      bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  /* KEYFRAMES */
  @keyframes animateBubble {
      0% {
          transform: translateY(0);
      }
      100% {
          transform: translateY(-100%);
      }
  }
  
  @-webkit-keyframes animateBubble {
      0% {
          margin-top: 1000px;
      }
      100% {
          margin-top: -100%;
      }
  }
  
  @-moz-keyframes animateBubble {
      0% {
          margin-top: 1000px;
      }
      100% {
          margin-top: -100%;
      }
  }
  
  @keyframes animateBubble {
      0% {
          margin-top: 1000px;
      }
      100% {
          margin-top: -100%;
      }
  }
  
  @-webkit-keyframes sideWays { 
      0% { 
          margin-left:0px;
      }
      100% { 
          margin-left:50px;
      }
  }
  
  @-moz-keyframes sideWays { 
      0% { 
          margin-left:0px;
      }
      100% { 
          margin-left:50px;
      }
  }
  
  @keyframes sideWays { 
      0% { 
          margin-left:0px;
      }
      100% { 
          margin-left:50px;
      }
  }
  
  /* ANIMATIONS */
  .bubble {
      /* ... existing styles ... */
      animation: animateBubble 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  
  .x1 {
      -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
    left: -5%;
    top: 5%;
    
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  
  .x2 {
      -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    
    left: 5%;
    top: 80%;
    
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }
  
  .x3 {
      -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
    left: 10%;
    top: 40%;
    
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
  }
  
  .x4 {
      -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    
    left: 20%;
    top: 0;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  
  .x5 {
      -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    
    left: 30%;
    top: 50%;
    
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  
  .x6 {
      -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
    left: 50%;
    top: 0;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  
  .x7 {
      -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
    left: 65%;
    top: 70%;
    
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }
  
  .x8 {
      -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    
    left: 80%;
    top: 10%;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  
  .x9 {
      -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    
    left: 90%;
    top: 50%;
    
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  
  .x10 {
      -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
    left: 80%;
    top: 80%;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  .x11{
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
    left: 45%;
    top: 5%;
    
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  .x12{
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
    left: 55%;
    top: 10%;
    
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  
  /* OBJECTS */
  
  .bubble {
      -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
      -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    
      height: 200px;
    position: absolute;
    width: 200px;
  }
  
  .bubble:after {
      background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
      background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
      -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    
    content: "";
      height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
  }
  .bubble span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      text-align: center;
      width: 100%;
      z-index: 1;
  }



.personal-photo-container{
  padding-left:60% ;
  padding-right: 50%;
  padding-bottom: 20%;
}
.src{
 /* display:flex; */
 border-radius: 20px;
 /* margin-left: 50%; */
 margin-bottom: 40px; 


}
.main-repo-button-container{
  display: flex;
  flex-direction: column;
 padding-inline-start: 70px;
 
  
}

.main-repo-button{
  
  background-color: transparent;
  border-color: transparent;
  padding-top: 10%;

}

.main-repo{
  height:50px;
  width: 60px;
  flex-direction: row;
  padding: 10px; 
  
}
.linkedin{
  padding: 10px; 
  height:50px;
  width: 60px;
  
}
.devto{
   
  height:50px;
  width: 60px;
  padding: 10px;
}
.loom{
  padding: 10px; 
  height:60px;
  width: 60px;
}

.section {
  padding: 150px 0;
}
/* .section:nth-of-type(1),
.section:nth-of-type(3) {
  background: var(--beige);
} */

html { 
  scroll-behavior: smooth; 
}


.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vw;
  padding-left: 20vw;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 13px;
  position: relative;
}
.title h1:before {
  background-color: rgba(239, 13, 111, 0.986);
  content: '';
  display: inline-block;
  height: 3px;
  width: 70px;
  margin-bottom: 5px;
  margin-right: 60px;
}
.title h1:after {
  background-color: rgba(239, 13, 111, 0.986);
  content: '';
  display: inline-block;
 
  height: 3px;
  width: 70px;
  margin-bottom: 0.25em;
  margin-left: 60px;
}
.project-card{
  width: 40vw;
  height: 20vw;
  /* margin-top: 40px; */
  /* padding-top: 10px; */
  padding-bottom: 70px;
  padding-left: 30%;

}

.project-title{
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center the content */
  padding-top: 3vw; /* Adjust this value as needed */
  color: rgba(239, 13, 111, 0.986);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0; /* Remove any default margin to control spacing */
  
}
.project-description{
  display: flex;
  flex-direction: row;
  color: rgb(26, 26, 26);
  font-family:Inter-ExtraBold
}
.project-video{
  width: 65vw;
  height: 20vw;
  padding-left: 10vw;
}


.card {
  width: 5%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  margin: 10px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
  
}

.skill-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards horizontally */
  align-items: center; /* Center cards vertically */
  width: 100%; /* Adjust width if needed */
  padding-left: 20px; /* Adjust padding as needed */
  padding-right: 20px; /* Adjust padding as needed */
}

.skill-images .card {
  width: calc(33.33% - 20px); /* Adjusted to fit three cards in a row with margins */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-images img {
  width: 100px;
  height: 100px; /* Adjust the height as needed */
  margin: 10px;
}

/* #contact-container { 
  
   padding-top:0%;
  padding-left: 10%;
}  */

.contact-text{
  padding-top: 50%;
  padding-left: 10vw;
  padding-bottom: 10px;
}


.contact-paragraph{
  display:flex ;
  flex-direction: column;
  margin-left: 30vw;
  width:50%;
  font-size: larger;
  font: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', 
  Calibri, 'Trebuchet MS', sans-serif;
}
.chat-button{

  display: inline-block;
  padding: 10px 20px;
 
  background-color: white;
  border: 2px solid rgba(239, 13, 111, 0.986);
  color: rgba(239, 13, 111, 0.986);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}
.chat-button:hover {
  background-color: rgba(239, 13, 111, 0.986);
  color: white;
}

.chat{
  padding-bottom: 40%;
  padding-left: 50%;
}
.credit-text{
  padding-left: 50%;
  color: rgba(239, 13, 111, 0.986);
}




 


